## Установка pandas

In [52]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\zavar\anaconda33\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\zavar\anaconda33\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zavar\anaconda33\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\zavar\anaconda33\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\zavar\anaconda33\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\zavar\anaconda33\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [53]:
import pandas as pd

## Чтение данных и фильтрация таблиц

In [54]:
user = pd.read_csv('user.csv')

In [55]:
user.head()

   id gender    birthday  grade                 region         last_visited
0   1      М  02.11.2007    9.0  Город Санкт-Петербург  23.08.2023 03:04:14
1   2      Ж  29.01.2009    8.0           Город Москва  07.09.2023 09:21:35
2   3      М  09.05.2007    NaN  Город Санкт-Петербург  23.08.2023 18:32:18
3   4      Ж  27.09.2007    9.0           Город Москва  18.08.2023 07:34:11
4   5      Ж  04.08.2007    NaN           Город Москва  02.09.2023 18:31:30

In [56]:
user['birthday'] = pd.to_datetime(user['birthday'], format = '%d.%m.%Y')
user['birthday'].dtype

dtype('<M8[ns]')

In [57]:
(user['birthday'].dt.month == 9).sum()

73

In [58]:
user['last_visited'] = pd.to_datetime(user['last_visited'], format = '%d.%m.%Y %H:%M:%S')

In [59]:
(user['last_visited'].dt.month == 9)

0      False
1       True
2      False
3      False
4       True
       ...
995    False
996    False
997     True
998     True
999     True
Name: last_visited, Length: 1000, dtype: bool

In [60]:
((user['last_visited'].dt.day <=14) & (user['last_visited'].dt.month == 9)).sum()

377

In [61]:
user['grade'] == 9

0       True
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997     True
998     True
999    False
Name: grade, Length: 1000, dtype: bool

In [62]:
((user['gender'] == 'М') & (user['grade'] == 9)).sum()

101

In [63]:
((user['gender'] == 'Ж') & (user['grade'] == 9)).sum()

96

In [65]:
(user['grade'] == 9).sum()

197

In [71]:
((user['grade'] >=1) & (user['grade'] <=11)).sum()

831

In [75]:
(user['grade']).min()

7.0

In [76]:
(197/(831))*100

23.706377858002405

In [90]:
user['region'] = user['region'].str.lower()

In [96]:
table = (user['region'].str.find('город'))

In [100]:
1000 - (table == -1).sum()

765

In [88]:
user['region'].str.find('город')
stringg = 'город в  Wкотором я живу'
print(stringg)
print(stringg.find('в'))

город в  Wкотором я живу
6

In [104]:
gender = pd.Series(['М', 'Ж', 'М' ])
print(gender.sum())

МЖМ

### Задание 1

Сколько в таблице `user` представлено учеников, родившихся в сентябре?

### Задание 2

Какое количество учеников в последний раз посещали платформу в первые $14$ дней сентября?

### Задание 3

На сколько в данных больше девятиклассников, чем девятиклассниц?

### Задание 4

Какой процент учеников, у которых указан класс, обучается в $9$-м классе?

Ответ округлите до целых.

### Задание 5

Сколько в данных представлено учеников из регионов, в названиях которых в качестве подстроки содержится слово «город»?

При расчёте статистики приведите названия регионов к строчному написанию.

## Группировка, агрегация и соединение таблиц

In [105]:
course = pd.read_csv('course.csv')

In [106]:
user_course_progress = pd.read_csv('user_course_progress.csv')

In [110]:
course

   id     subject date_started  max_score
0   1       Химия   2023-04-04      108.0
1   2      Физика   2023-01-31      137.0
2   3    Биология   2023-09-14        NaN
3   4       Химия   2023-03-31      118.0
4   5      Физика   2023-11-30        NaN
5   6       Химия   2023-03-03      102.0
6   7    Биология   2023-11-19        NaN
7   8      Физика   2023-06-08        NaN
8   9       Химия   2023-01-16      120.0
9  10  Математика   2023-02-18      104.0

In [109]:
user_course_progress

      user_id  course_id  progress
0         392          1     31.68
1         217          1     97.53
2         843          1     81.50
3         417          1     15.92
4         605          1    103.31
...       ...        ...       ...
1706      898         10      8.01
1707      201         10      0.71
1708      334         10      1.90
1709      112         10      2.16
1710      255         10      5.99

[1711 rows x 3 columns]

In [131]:
user_students_progress = user_course_progress.merge(course, left_on= 'course_id',right_on= 'id' )

In [136]:
user_students_progress

      user_id  course_id  progress  id     subject date_started  max_score
0         392          1     31.68   1       Химия   2023-04-04      108.0
1         217          1     97.53   1       Химия   2023-04-04      108.0
2         843          1     81.50   1       Химия   2023-04-04      108.0
3         417          1     15.92   1       Химия   2023-04-04      108.0
4         605          1    103.31   1       Химия   2023-04-04      108.0
...       ...        ...       ...  ..         ...          ...        ...
1706      898         10      8.01  10  Математика   2023-02-18      104.0
1707      201         10      0.71  10  Математика   2023-02-18      104.0
1708      334         10      1.90  10  Математика   2023-02-18      104.0
1709      112         10      2.16  10  Математика   2023-02-18      104.0
1710      255         10      5.99  10  Математика   2023-02-18      104.0

[1711 rows x 7 columns]

In [133]:
(user_students_progress['max_score'].isnull()).sum()

680

In [143]:
(user_students_progress['max_score'].isnull().replace({False: True, True: False})).sum()

1031

In [146]:
new_user_students_progress = user_students_progress.loc[(user_students_progress['max_score'].isnull().replace({False: True, True: False})) ]

In [147]:
new_user_students_progress['progress']/new_user_students_progress['max_score']

0       0.293333
1       0.903056
2       0.754630
3       0.147407
4       0.956574
          ...
1706    0.077019
1707    0.006827
1708    0.018269
1709    0.020769
1710    0.057596
Length: 1031, dtype: float64

In [150]:
final_user_students_progress = new_user_students_progress.assign(relative_progress = (new_user_students_progress['progress']/new_user_students_progress['max_score']))

In [151]:
final_user_students_progress['relative_progress'].mean()

0.3507670784147926

In [152]:
final_user_students_progress

,user_id,course_id,progress,id,subject,date_started,max_score,relative_progress
0,392,1,31.68,1,Химия,2023-04-04,108.0,0.293333
1,217,1,97.53,1,Химия,2023-04-04,108.0,0.903056
2,843,1,81.50,1,Химия,2023-04-04,108.0,0.754630
3,417,1,15.92,1,Химия,2023-04-04,108.0,0.147407
4,605,1,103.31,1,Химия,2023-04-04,108.0,0.956574
...,...,...,...,...,...,...,...,...
1706,898,10,8.01,10,Математика,2023-02-18,104.0,0.077019
1707,201,10,0.71,10,Математика,2023-02-18,104.0,0.006827
1708,334,10,1.90,10,Математика,2023-02-18,104.0,0.018269
1709,112,10,2.16,10,Математика,2023-02-18,104.0,0.020769
1710,255,10,5.99,10,Математика,2023-02-18,104.0,0.057596

In [154]:
students_progress = final_user_students_progress[final_user_students_progress['relative_progress']>= 0.8]

In [155]:
students_progress

,user_id,course_id,progress,id,subject,date_started,max_score,relative_progress
1,217,1,97.53,1,Химия,2023-04-04,108.0,0.903056
4,605,1,103.31,1,Химия,2023-04-04,108.0,0.956574
25,720,1,105.11,1,Химия,2023-04-04,108.0,0.973241
28,679,1,97.80,1,Химия,2023-04-04,108.0,0.905556
29,364,1,92.21,1,Химия,2023-04-04,108.0,0.853796
...,...,...,...,...,...,...,...,...
1690,768,10,98.52,10,Математика,2023-02-18,104.0,0.947308
1691,169,10,94.64,10,Математика,2023-02-18,104.0,0.910000
1696,46,10,84.48,10,Математика,2023-02-18,104.0,0.812308
1697,254,10,100.76,10,Математика,2023-02-18,104.0,0.968846
1700,802,10,101.47,10,Математика,2023-02-18,104.0,0.975673

In [175]:
info_subjects = students_progress.groupby('subject', as_index=False).agg({'user_id': len})

In [172]:
(students_progress['subject'] == 'Химия').sum()

105

In [176]:
info_subjects

      subject  user_id
0  Математика       30
1      Физика       24
2       Химия      105

In [ ]:
def modify_columns_solution(df, column_to_drop, column_to_change):
    return df.assign(new = column_to_change + 1).drop(column_to_drop).rename(columns = {'column_to_change': 'renamed'})

In [167]:
info_subjects['user_id']

0    [466, 654, 734, 395, 650, 116, 547, 954, 662, ...
1    [498, 857, 547, 31, 495, 22, 664, 682, 53, 528...
2    [217, 605, 720, 679, 364, 431, 495, 697, 570, ...
Name: user_id, dtype: object

**Относительным прогрессом** будем называть отношение суммарного числа баллов, которые ученик набрал за курс (колонка `progress` в таблице `user_course_progress`), к максимальному количеству баллов, которые ученик в принципе мог набрать за данный курс (колонка `max_progress` в таблице `course`).

С помощью представленных данных найдите ответ на следующий вопрос: в курсах какого предмета больше всего учеников, чей относительный прогресс не меньше $0.8$?

В рамках следующих заданий вам будет предложено, действуя поэтапно, найти ответ на этот вопрос.

### Задание 1

Произведите соединение таблиц `course` и `user_course_progress`.

В качестве ответа укажите количество строчек итоговой таблицы, в которых представлены ученики курсов по химии.

### Задание 2

Обратите внимание, что у части курсов нет значения в колонке `max_score`. Уберите из полученной в предыдущем задании таблицы все строчки, в которых пропущено значение колонки `max_score`.

В качестве ответа укажите количество строчек в итоговой таблице.

### Задание 3

Добавьте в полученную в предыдущем задании таблицу колонку `relative_progress`, в которой для каждого ученика будет храниться значение его относительного прогресса в конкретном курсе.

В качестве ответа укажите среднее значение относительного прогресса в таблице. Ответ округлите до двух знаков после запятой с помощью функции `round`, которая встроена в Series.

### Задание 4

Оставьте в полученной в предыдущем задании таблице только те строчки, в которых значение относительного прогресса не меньше $0.8$.

В качестве ответа укажите число строчек в получившейся таблице.

### Задание 5

Произведите группировку строчек таблицы по предметам и посчитайте, сколько учеников с относительным прогрессом не меньше $0.8$ оказалось в каждом из предметов.

В качестве ответа заполните таблицу, в которой каждому предмету сопоставлено число таких учеников.

Если один и тот же ученик учился в разных курсах одного и того же предмета и в каждом из этих курсов достиг относительного прогресса не менее $0.8$, при подсчёте учтите его несколько раз.

### Задание 6

В курсах какого предмета больше всего учеников, достигших относительного прогресса не менее $0.8$?